.box{
    width: 25px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #e18b20;
}
.title h6{
    position: relative;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 7px;
}
.title h6::before{
    background: #ededed;
    width: 100%;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
}
.title h6::after{
    background: #e18b20 !important;
    width: 170px;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
}


.font{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.font:hover{
    color: #333;
}
.B-lead{
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    
}
.B-head{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}
.B-2-head{
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}
.B-line{
    font-size: 14px;
    line-height: 24px;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
    height: 80px;
}
.B-side-head{
    font-size: 14px;
    color: #333;
}
.fix-ratio-B{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 80px;
        width: 150px;
        object-fit: cover;
        overflow: hidden;
      
}

.Bd-sub-list{
    padding-top: 15px;
    padding-bottom: 15px;

}
.left-lead{
    margin-top: 15px;
}