.DBGWhite {
    background: #f0f0f0;
    margin: 40px 0px;
    padding: 20px 0 40px 0;
}


.DBGWhite img {
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #fff;
}
.heading-mot{
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
}
.sub-heading-mot{
    font-size: 14px;
}
.writer{
    color: #94959a;
}
.DImgZoomBlock {
    position: relative;
    overflow: hidden;
    display: block;
}
.DCatStyleList img {
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #fff;
}

.DImgZoomBlock img {
    max-width: 100%;
    min-height: 100%;
    transition: transform 1s;
    object-fit: cover;
    object-position: center;
}
.img100 {
    width: 100%;
}