
.container{
     max-width: 1300px!important;
    padding-right: 10px;
    padding-left: 10px;
}





/* tab */
#exTab1 .tab-content {
  
  background: #f5f5f5;
  padding : 5px 15px;
}
#exTab1 .nav-pills > li > a {
  border-radius: 0;
}


/* Lead section */
.DLeadNews {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
/* Publish Time */
.PublishTime {
  color: #777;
  font-size: 14px;
}
/* title  */
.DLeadNews .Desc .Title {
  font-size: 28px;
  line-height: 38px;
  color: #333;
  font-weight: 700;
}
.DLeadNews:hover .Title {
  color: #e18b20;
}
/* brief  */
.DLeadNews .Desc .Brief p {
  -webkit-line-clamp: 3;
  color: #555;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
}
/* Border right */
.border-right-inner {
  border-right: 1px solid #ebebeb;
}
/* image */

.DLeadNewsList2 .Desc .Title:hover{
  color: #e18b20;
}
/* Lead list 3 */
.DLeadNewsList3 {
  width: 100%;
  position: relative;
}
.DLeadNewsList3 .Desc {
  padding: 15px 0;
}
.DLeadNewsList3 .Desc .Title {
  font-size: 18px;
  line-height: 25px;
  color: #333;
  font-weight: 600;
  margin-top: 5px;
}
.DLeadNewsList3:hover .Title {
  color: #e18b20;
}
.DLeadNewsList3 .Desc .Brief p {
  -webkit-line-clamp: 2;
  color: #555;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
}
/* Seconf banner sec */
.DLeadNewsList2 {
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}
.DLeadNewsList2:hover .Title {
  color: #e18b20;
}
.DLeadNewsList2 .Desc {
  padding-top: 7px;
}
.DLeadNewsList2 .Desc .Title {
  font-size: 18px;
  line-height: 25px;
  color: #333;
  font-weight: 600;
  margin-top: 5px;
}
.DLeadNewsList2 .Desc .Brief p {
  -webkit-line-clamp: 3;
  color: #555;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
}
.DTop2 {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #e2e2e2;
}
.DTop2List {
  width: 100%;
  position: relative;
}
.DTop2List .Desc {
  padding: 5px 0px 10px;
}
.DTop2List .Title {
  -webkit-line-clamp: 2;
  font-size: 18px;
  line-height: 25px;
  color: #333;
  font-weight: 600;
  min-height: 50px;
}
.Title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.DTop2List .Brief p {
  color: #555;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 7px;
}
.DTop3List {
  width: 100%;
  position: relative;
  padding: 15px 0 0;
  border-bottom: 1px solid #e2e2e2;
}
.DTop3List .Title {
  -webkit-line-clamp: 2;
  height: 56px;
  font-weight: 600;
}
.Title:hover {
  color: #e18b20;
}
.DTop4NewsItem .Title {
  font-size: 16px;
  line-height: 1.5;
  max-height: 69px;
  overflow: hidden;
  padding: 0;
  color: #333;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.DTop4NewsItem .Title:hover{
  color: #e18b20;
}

.DTop4NewsItem {
  border-bottom: 1px solid #eee;
  padding:  0;
}
.DTop4NewsItem:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
/* Jorip */

.Question {
  padding: 5px 7px 7px 7px;
  background: #F1DBDB;
}
.Question h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}
 .VoteAnswer {
  margin: 12px 0 6px;
}
.DEditorialTopNews .Desc {
  padding: 10px 0;
  min-height: 147px;
}
.DEditorialTopNews .WriterName {
  font-size: 14px;
  margin: 0;
  color: #e18b20;
  line-height: 16px;
  padding: 5px 0;
}
.DEditorialTopNews .Brief p {
  -webkit-line-clamp: 2;
  color: #555;
}

.Brief p {
  font-size: 16px;
  line-height: 1.425;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}

.DEditorialListItem:first-child {
  border-top: 0;
}

.DEditorialListItem {
  padding:  0;
  
  display: flow-root;
}
.DetailsBlock {
  float: none;
  width: auto;
}
.DEditorialListItem .WriterName {
  font-size: 14px;
  margin: 0;
  color: #e18b20;
  line-height: 16px;
  padding: 5px 0;
  font-weight: 600;

}
.DEditorialListItem .Title {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.DEditorialListItem .Title:hover {
  color: #e18b20;
}
.DEditorialListItem Desc{
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-body{
  background: #f0f0f0 !important;
  padding: 20px 10px;
}

.DBangTopNews .Desc .Brief p {
  -webkit-line-clamp: 2;
  color: #555;
}
.DBangTopNews.Title:hover {
  color: #e18b20;
}

.Brief p {
  font-size: 16px;
  line-height: 1.425;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}
.DBangTopNews .Title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  color: #000;
}
.Title:hover {
  color: #e18b20;
}

.DEnterTop .Title {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.DEnterTop.Title:hover {
  color: #e18b20;
}
.DEnterTop .Brief p {
  font-size: 16px;
  line-height: 1.425;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}
.DEnterTop {
 
  background: transparent;
  position: relative;
  border: 1px solid #ebebeb;
  padding: 0 0;
  
}
.DEnterTop2 {
  padding: 0 0;
  background: transparent;
  position: relative;
  width: 100%;
}

.DSportsTop .Title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.DSportsTop .Brief p {
  -webkit-line-clamp: 7;
  color: #555;
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.DSportsTop.Title-2{
  margin-top: 5px;
  font-size: 19px;
  line-height: 32px;
  line-height: 1.43;
    letter-spacing: -0.3px;
    padding-left: 2px;
    color: #000;
 
}
.Title-2:hover{
 color: #e18b20;
}
.DBusinessTop .Brief p {
  -webkit-line-clamp: 4;
  color: #555;
}
.DBusinessListItem .Title {
  font-size: 17px;
  line-height: 24px;
  -webkit-line-clamp: 3;
}
.DInternationalTop .Title {
  font-weight: bold;
}
.DInternationalTop .Brief p {
  -webkit-line-clamp: 4;
  color: #555;
}
.DInternational4List .Title {
  font-size: 17px;
}
.DTechCamTop .Title {
  font-weight: bold;
}
.DTechCamTop .Brief p {
  -webkit-line-clamp: 4;
  color: #555;
}
.DTechCam3List .Title {
  margin-top: 6px;
  font-size: 17px;
  line-height: 25px;
  
}
.DCatStyle{
  margin-top: 15px;
}
.DCatStyle2Top .Title {
  font-size: 17px;
  line-height: 23px;
  color: #fff;
}
.DCatStyle3List {
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.DCatStyle3List .Title{
  font-size: 17px;
    line-height: 23px;
    min-height: 46px;
    -webkit-line-clamp: 2;
}
.DCatStyle3ListItem {
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  
}
.boundary{
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  padding: 10px;
}





/* Bd section */

.box{
  width: 25px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #e18b20;
}
.title h6{
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 7px;
}
.title h6::before{
  background: #ededed;
  width: 100%;
  content: '';
  height: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
}
.title h6::after{
  background: #e18b20 !important;
  width: 170px;
  content: '';
  height: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
}


.font{
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.font:hover{
  color: #333;
}
.B-lead{
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  
}
.B-head{
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}
.B-2-head{
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}
.B-line{
  font-size: 14px;
  line-height: 24px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
  height: 80px;
}
.B-side-head{
  font-size: 14px;
  color: #333;
}
.fix-ratio-B{
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 80px;
      width: 150px;
      object-fit: cover;
      overflow: hidden;
    
}

.Bd-sub-list{
  padding-top: 15px;
  padding-bottom: 15px;

}
.left-lead{
  margin-top: 15px;
}





/* Zoom effect */

.zoom {
    overflow: hidden;
  }
  .zoom .imgContainer {
    height: auto;
    overflow: hidden;
  }
  .zoom:hover .imgContainer img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  
  }
  .zoom .imgContainer img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    
  }
  /* Picture ratio */
  .fix-ratio{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
/* Line size */
  .line p{
    font-size: 14px;
    line-height: 24px;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   
    
    padding-right: 5px;
  }

.banner-sec{
  position: relative;
  z-index: 1;
}

  /* Lead news */
.lead {
    width: 100%;
    position: relative;
   
    
}
/* pic caption */
.lead .caption {
    position: absolute;
    text-align: center;
    min-width: 75px;
    background: #e18b20;
    left: 10px;
    padding: 6px 15px 4px 15px;
    font-size: 14px;
    line-height: 1;
    z-index: 999;
    color: #fff;
    bottom: 0;
    font-weight: bold;
}
.sub-heading-time{
    font-size: 14px;
    padding: 0;
}
.effect:hover{
    color: #e18b20;
}
.head-font{
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 40px;
    padding-right: 5px;
}

/* Banner side pannel */
.background{
  background: #f5f5f5;
}
.bodyHeight{
  position: relative;
  max-height: 385px;
  overflow: auto;
}
.latest span{
  font-size: 35px;
    padding-right: 12px;
    color: #B78C8C;
}
.latest p{
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  display: flex;
  position: relative;
  top: 2px;
  color: #000;
}
.latest{
  background: #f5f5f5 !important;
}

.latest p:hover{
  color: #e18b20;
}

.has-megamenu {
  position: static!important;
}

.bg{
  font-size: 18px;
    line-height: 25px;
}

.active {
  background: #e18b20;
  color: #fff !important;
  
}
.no-bg{
  background: none !important;
}

.active ul li a p{
  color: #fff !important;
}

.tab-pan{
  background: #dee2e6!important;
}

/* binodon part */
.Bin-line{
  font-size: 14px;
  line-height: 24px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
  height: 70px;
}
.Bin-head{
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}
/* edit part */

.Desc {
  padding: 10px 0;
 
}
.Desc2 {
 
}
.WriterName {
  font-size: 14px;
  margin: 0;
  color: #e18b20;
  line-height: 16px;
  padding: 5px 0;
}
.Title-2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px; 
  margin-top: 5px;
  color: #000;
}
.Brief p {
  font-size: 16px;
  line-height: 1.425;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}
.sub-edit{
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.WriterName2 {
  font-size: 13px;
  margin: 0;
  color: #e18b20;
}
.Brief2 p {
  font-size: 13px;
  line-height: 1.425;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}





.allnews-btn a{
  display: block;
    text-align: center;
    border: none;
    padding: 5px;
    color: #fff;
    background: #e18b20;
    text-decoration: none;
} 
.table-bg{
  background: #e18b20;
  color: #fff;
}
.table-bg .table{
  margin-bottom: 0;
  background: #fff;
  border-left: 1px solid #e18b205E;
  border-right: 1px solid #e18b205E;
}
.table-bg .table td{
  padding: 6px 15px 5px;
    border-bottom: 1px solid #e18b205E;
    color: #333;
    border-right: 1px solid #e18b205E;
    font-size: 17px;
    border-top: 0 solid #dee2e6;
    text-align: center;
}
.table-bg p{
  font-size: 14px;
}


/* Second section */
.head-font-2{
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;
  padding-right: 5px;
  font-weight: 550;
  min-height: 50px;
}
.sub-font{
  font-size: 11px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 40px;
  padding-right: 5px;
  font-weight: 550;
  height: 65px;
}
.separate{
  border-bottom: 1px solid #eee;
  padding-top: 10px;
}
.separate:first-child {
  padding-top: 0;
}
.separate:last-child {
  border-bottom: 0 solid #eee;
}
.lead-2 {
  width: 100%;
  position: relative;
  
  padding-bottom: 10px;
}

.vote-head{
  background-color: #e18b20;
  
  color: #fff;
}
.icon-col{
  color: #e18b20;
  background: #fff;
  border: none;
  border-radius: 50%;
}
.vote-sub{
    background: #F1DBDB;
}
.vote-cap{
  font-size: 13px;
  margin-top: -15px;
  font-weight: 600;
}
.vote-ans{
  font-size: 15px;
}
.vote-submit .btn-success{
  background: #e18b20;
  border-color: #e18b20;
  border-radius: 25px;
  padding: 9px 15px 6px;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 5px;
}
h1, h2, h3, h4, h5, h6 p{
  font-family: 'SolaimanLipi';
  margin-bottom: 0;
  font-size: 19px;
  line-height: 1.43;
  letter-spacing: -0.3px;
  padding-left: 2px;
  color: #000;
}
.b-Title {
  font-size: 25px;
  line-height: 38px;
  color: #333;
  font-weight: 700;
}
