.headerTopBar {
    padding: 5px 0;
    border-bottom: 1px solid #ebebeb;
}
.bar {
    padding: 5px 0;
    border-bottom: 1px solid #ebebeb;
}
.link ul{
    padding: 0;
    margin: 0;
}
.link ul li{
    list-style: none;
}

.link ul li:last-of-type a{
    border-right: 0 solid #ebebeb;
}

.link ul li a {
    
    margin-right: 10px;
    border-right: 2px solid #6f6f6f;
    padding-right: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
   
}

a {
    text-decoration: none;
    color: #337ab7;
}
.link :hover{
    color: #e18b20;
}
.topBtn ul{
    padding: 0;
    margin: 0;
}
.topBtn ul{
    list-style: none;
}
.topBtn  ul li a {
    margin-left: 10px;
    padding: 3px 12px;
    border-radius: 3px;
    background-color: #D0D0D7;
    color: #333;
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
}

.topBtn :hover{
    color: red;
}

/* 2nd section */
.date-time p{ 
        font-size: 15px;
        display: inline-block;
        line-height: 15px;
        color: #333;
    }
    p {
        margin-bottom: 0;
       
    }
.social-link-twit{
    border: 1px solid #ddd;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    border-radius: 50px;
    color: #333;
    text-decoration: none;
}
.social-link-insta{
    border: 1px solid #ddd;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    border-radius: 50px;
    color: #333;
    text-decoration: none;
}
.social-link-u-tube{
    border: 1px solid #ddd;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    border-radius: 50px;
    color: #333;
    text-decoration: none;
}
.social-link-fb{
    border: 1px solid #ddd;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    border-radius: 50px;
    color: #333;
    text-decoration: none;
}
.social-link-rss{
    border: 1px solid #ddd;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 22px;
    border-radius: 50px;
    color: #333;
    text-decoration: none;
}
.social-link-fb:hover{
    background: #3b5998;
    color: #fff;
}
.social-link-twit:hover{
    background: #00acee;
    color: #fff;
}
.social-link-insta:hover{
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: #fff;
}
.social-link-u-tube:hover{
    background: #b22222;
    color: #fff;
}
.social-link-rss:hover{
    background: #ee802f;
    color: #fff;
}

/* bottom part */

.active-list{
    margin-right: 15px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    display: block;
    
    
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #e18b20;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
}

.nav-border{
    border-bottom: 4px double #b9b9b9;
    border-top: 1px solid #ebebeb;
}
.collapse ul{
    margin: 0;
    padding: 0;
}
.nav-fix{
    position: sticky;
    background: white;
    width: 100%;
    top: 0;
}
.is-sticky {
    background: white;
    width: 100%;
  position: fixed;
  z-index: 999;
 ;
}

/* Sub Heading */
.sub-head{
    border-bottom: 2px solid #D0D0D7;
    margin-bottom: 10px;
    width: 100%;
}
.sub-head ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.sub-head ul li{
    list-style: none;
    margin-right: 20px;
    
}
.sub-head ul li p{
    padding: 2px 12px;
    border-radius: 3px;
    background-color: #efefef;
    color: #333;
    line-height: 21px;
    display: block;
    font-size: 14px;
    font-weight: 500;
}
.sub-head ul li p:hover{
    color: #e18b20;
}
.megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    min-width: 1260px;
    background: #f0f0f0 !important;
    border-bottom: 3px solid #e18b20;
}
.navbar .megamenu {
    padding: 1.5rem;
}
.dropdown-item {
    padding: 0.5rem 0.8rem;
    font-weight: 400;
    color: #333;
    font-size: 17px;
    min-width: auto;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-font{
    font-size: 18px;
    line-height: 15px;
    color: #333;
}
.nav-top-font{
    font-size: 18px;
}

/* Media query */

@media screen and (max-width: 768px){
.sub-head ul {
    overflow-x: scroll;
}
}