.photo{
    background: #f0f0f0;
    margin-top: 30px;
    padding: 20px 0 40px 0;
}
.carousel-control-prev{
top: 44%;
    bottom: 44%;
    background: #e18b20;
    width: 4%;
    opacity: 1;
    text-align: right;
    padding-right: 5px;
    border-radius: 0 50px 50px 0;
}
.carousel-control-next{
    top: 44%;
    bottom: 44%;
    background: #e18b20;
    width: 4%;
    opacity: 1;
    text-align: left;
    padding-left: 5px;
    border-radius: 50px 0 0 50px;
}
.photo .VideoIcon::after {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    content: "\f030";
    font-family: FontAwesome;
    font-size: 25px;
    color: #fff;
    background: #e18b20;
    border-radius: 50%;
    line-height: 62px;
    height: 60px;
    width: 60px;
    text-align: center;
}
.DPhotoGalleryList:first-child {
    margin-top: 15px;
}
.DPhotoGalleryList {
    margin-top: 20px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e18b20;
    background: #fff;
    margin-bottom: 20px;
}